@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin hero-btn {
  &:hover{
    transform: scale(1.3);
    background: red;
  }
  padding: 9px 31px;
  border-radius: 15px;
  border: none;
}

@mixin work-btn {
  background: #4543E8;
  color: white;
}

@mixin service-btn {
  padding: 15px 50px;
  border-radius: 20px;
}

@mixin blog-btn{
  background:  #4543E8;
  padding: 15px 50px;
  border-radius: 25px;
  color: #FFFFFF;
  border: solid;
}

@mixin about{
  background: #4543E8;
  text-align: center;
  padding: 90px 95px;
}

@mixin contact{
  color: #FFFFFF;
  display: flex;
}

@mixin input{
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.16);
  border-radius: 30px;
  padding: 10px 20px;
  color: #FFFFFF;
}
@mixin bot{
  &:hover{
    transform: scale(1.4);
    background: aqua;
  }
  background:  #4543E8;
  padding: 15px 50px;
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
}
@mixin test-bloke {
  height: 200px;
  width: 300px;
  background: white;
  border-radius: 20px;
  padding: 20px 30px;
  line-height: 20px;
}